<!DOCTYPE html>
<html lang="en">

<#include "includes/head.html">

<body class="index">
	<script>
		/*$("#toggleResetForm").click(function()
				{
		   			$("#ResetForm").toggle();
				}
		);*/
	</script>
	<script src="ng/LoginApp.js"></script>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1 id="pagetitle" onclick="document.location.href='/index.html'; return false;">ReadMe.ink</h1>
		</div>
	</div>
	
	<div class="row">		
		<div class="col-md-4 box" style="margin-top:6%">
			<h2>Login</h2>
			<form method="POST">
				<div class="form-group">
    				<label for="emailInput">Email address</label>
    				<input type="email" class="form-control" id="emailInput" name="email" value="" required>
  				</div>
  				<div class="form-group">
    				<label for="passwordInput">Password</label>
    				<input type="password" class="form-control" id="passwordInput" name="password" value="" required>
  				</div>
  				<div class="checkbox">
    				<label>
      					<input type="checkbox" checked disabled>Remember me for 1 week
    				</label>
  				</div>
				<input type="submit" class="btn btn-primary" style="width: 100%" value="Log in">
			</form>
			<p align="center">or <a href="/register">Register</a></p>
			<#if loginError == true>
				<div class="alert alert-danger" role="alert" style="text-align:center;">Email or Password are incorrect<br><span id="toggleResetForm" onclick="$('#ResetForm').toggle();" style="cursor: pointer;">Forgot password?</span></div>
			</#if>
		</div>
		
		<div class="col-md-4 box col-md-offset-1"  data-ng-app="LoginApp" data-ng-controller="resetPwdCtrl" id="ResetForm" style="margin-top:6%; padding-bottom:3%;" hidden="true">
			<h2>Reset Password</h2>
			<form data-ng-submit="resetPassword()">
				<div class="form-group">
					<label for="email4reset">Email address</label>
    				<input data-ng-model="email" type="email" class="form-control" id="email4reset">
    			</div>
   					<input type="submit" class="btn btn-success" value="Submit" style="width: 100%">  			
			</form>
			<span data-ng-click="resetStatus()">{{updateMessage}} <i  id="spinner" class="fa fa-circle-o-notch fa-spin"></i><i id="closeIcon" class="fa fa-times"></i></span>
		</div>
		
	</div>
	
</div>

</body>
</html>