<!DOCTYPE html>
<html lang="en">

<#include "includes/head.html">

<body  data-ng-app="RegistrationApp" class="index">

	<script src="ng/RegistrationApp.js"></script>

<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			<h1 id="pagetitle" onclick="document.location.href='/index.html'; return false;">ReadMe.ink</h1>
		</div>
	</div>
	
	<div class="row">	
		<div class="col-md-4 box" data-ng-controller="registrationformCtrl" style="margin-top:6%">
			<h2>Register</h2>
			<form method="POST" action="/register">
				<div class="form-group">
    				<label for="emailInput">Email address</label> <span class="label label-danger" style="color:rgb(223, 224, 192);" data-ng-hide="emailOK">Invalid email address</span>
    				<input type="text" class="form-control" id="emailInput" data-ng-model="email" name="email" data-ng-blur="checkEmail()" required>
  				</div>
  				<div class="form-group">
    				<label for="passwordInput">Password</label> <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Invalid password" data-content="It must be at least 6 characters, with one upper and lowercase letter and one number" data-placement="right" style="cursor: pointer;"  data-ng-hide="passwordOK"><span class="label label-danger"  style="color:rgb(223, 224, 192);">Invalid password <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span></a>
    				<input type="password" class="form-control" id="passwordInput" data-ng-model="password" data-ng-blur="checkPassword()" name="password" required>
  				</div>
  				<div class="form-group">
    				<label for="CnfpasswordInput">Confirm Password</label> <span class="label label-danger" style="color:rgb(223, 224, 192);"  data-ng-hide="matchOK">Passwords are not matching</span>
    				<input type="password" class="form-control" id="CnfpasswordInput" data-ng-model="Cnfpassword" data-ng-blur="matchPasswords()" name="Cnfpassword" required>
  				</div>
  				<div class="checkbox">
					<label>
						<input type="checkbox" data-ng-model="tac"> I accept the Terms and Conditions <a href="b/tac.html"  target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
					</label>
				</div>
				<input type="submit" class="btn btn-primary" style="width: 100%" data-ng-disabled="isDisabled()" value="Register">
			</form>
			<p align="center">or <a href="/login">Login</a></p>
			<#if registrationError == true>
				<div class="alert alert-danger" role="alert" style="text-align:center;">The email address selected is already in use</div>
			</#if>
		</div>
		<div class="col-md-8"></div>
	</div>
	
</div>

</body>
</html>