		<div class="col-md-3" style="text-align: center;">
			<a class="btn btn-default" role="button" style="width: 100%;" href="#/">
				<i class="fa fa-bookmark fa-2x"></i>
			</a>
		</div>
		
		<div class="col-md-3" style="text-align: center;">
			<a class="btn btn-default" role="button" style="width: 100%;" href="#settings">
				<i class="fa fa-user fa-2x"></i> <!-- <i class="fa fa-cogs fa-2x"> --></i>
			</a>
		</div>
		
		<div class="col-md-3" style="text-align: center;">
			<a class="btn btn-default" role="button" style="width: 100%;" href="#help">
				<i class="fa fa-question-circle fa-2x"></i>
			</a>
		</div>
		
		<div class="col-md-3" style="text-align: center;">
			<a class="btn btn-default" role="button" style="width: 100%;" href="#lab">
				<i class="fa fa-flask fa-2x"></i>
			</a>
		</div>