@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");

body.index
	{ 
  		background: url(/images/library_bg.jpg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;			
	}

body.app
    { 
  		background: url(/images/book_bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 98%;
    }

div.box
    {
		background-color: rgba(223, 224, 192, .9);
    }

div.jumbotron
    {
		background-color: rgba(223, 224, 192, .9);
		text-align: center;
		margin-top:10%
    }
    
div.footer
    {
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		background-color: rgba(223, 224, 192, .9);
		text-align: center;
    }
    
.roboto
    {
		font-family: 'Roboto Mono', ;
		font-size: 75%
	}
	
.eb-header {
    text-align: justify; 

     /* IE special */  
    width: 100%;  
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
 .eb-header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

h1.pagetitle {
    display: inline-block;
    margin-top: 0.321em; 

    /* ie 7*/ 
    *display: inline;
    *zoom: 1;
    *text-align: left; 
}

.eb-nav {
    display: inline-block;
    vertical-align: top; 
    
    /* ie 7*/
    *display: inline;
    *zoom:1;
    *text-align: right;
}
.popover-content{
   	color: #000000 !important;/*black color*/
}