<script>
$(document).ready(
		function()
			{
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
			}
);
</script>

<div class="eb-header">
			<h1 class="pagetitle">ReadMe.ink</h1>
		<div class="eb-nav">
			{{userData._id}} <a href="/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
		</div>
</div>
<div class="container" style="height: 83%;">
	<div class="row">
		<div class="col-md-1" style="text-align: right;">
			<i class="fa fa-question-circle fa-3x"></i>
		</div>
		<div class="col-md-10 box">
			<h3>Setup</h3>
			<ul>
				<li>
					Grab the bookmarklet and add it to the favorites bar of your browser
					<ul style="list-style-type: none;">
						<li>
							<a type="button" data-toggle="tooltip" data-placement="right" title="Do not actually click on it, just drag it to the favories bar" data-ng-onclick="simpleAlert('Drag it to your bookmarks bar')" class="btn btn-default" href="javascript:(function(){var jsCode = document.createElement('script');jsCode.src='https://v1-readmedotink.rhcloud.com/js/send.js';document.body.appendChild(jsCode);}());">
              					<i class="fa fa-bookmark"></i> ReadMe.ink
            				</a>
						</li>
					</ul>
				</li>
				<li>
					Add your personal short url to the bookmarks of your e-reader browser
					<ul style="list-style-type: none;">
						<li>
							{{userData.shorturl}}
						</li>
					</ul>
				</li>
				<li>Use the bookmarklet to update the target page of your short url</li>
				<li>Open the sanitized version of the webpage of your interest from your e-reader</li>
			</ul>
		</div>
	</div>

	<div class="eb-buttons row" style="padding-top: 1%;"></div>
	
</div>