<script>
$(document).ready(
		function()
			{
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
			}
);
</script>

<div class="eb-header">
			<h1 class="pagetitle">ReadMe.ink</h1>
		<div class="eb-nav">
			{{userData._id}} <a href="/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
		</div>
</div>
<div class="container" style="height: 83%;">
	<div class="row">
	
		<div class="col-md-1" style="text-align: right;">
			<i class="fa fa-get-pocket fa-3x"></i>
		</div>
		<div class="col-md-10 box">
			<h3>Pocket integration</h3>
			<p>Under development</p>
		</div>
		
	</div>

	<div class="eb-buttons row" style="padding-top: 1%;"></div>
	
</div>