<script>
$(document).ready(
		function()
			{
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
			}
);
</script>

<div class="eb-header">
			<h1 class="pagetitle">ReadMe.ink</h1>
		<div class="eb-nav">
			{{userData._id}} <a href="/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
		</div>
</div>
<div class="container" style="height: 83%;">
	
	<div class="row">
		
		<div class="col-md-1" style="text-align: right;">
			<div class="hidden-xs hidden-sm"><i class="fa fa-bookmark fa-3x"></i></div>
		</div>
		
		<div class="col-md-3"  style="text-align: center;">
			<span style="font-size: 175%;">{{userData.shorturl}}</span><br>
			<span data-toggle="tooltip" data-placement="bottom" title="Save this url in your e-reader">
				<i class="fa fa-info-circle"></i>
			</span>
		</div>
		
		<div class="col-md-8" style="text-align: center;">
			<form data-ng-submit="updateTargetUrl()">
				<div class="input-group">
    				<input data-ng-model="userData.target" type="url" class="form-control input-lg" id="newtargeturl">
    				<span class="input-group-btn">
    					<button type="submit" class="btn btn-primary btn-lg">Update</button>
    				</span>
    			</div>
			</form>
			
			<span  data-ng-click="resetStatus()">{{updateMessage}} <i  id="spinner" class="fa fa-circle-o-notch fa-spin"></i><i id="closeIcon" class="fa fa-times"></i></span>
			
		</div>
	</div>
	
	<div class="row" style="height: 90%;">
		
		<div class="col-md-1" style="text-align: right;">
			<div class="hidden-xs hidden-sm"><h3><i class="fa fa-history fa-2x"></i></h3></div>
		</div>
		
		<div class="col-md-10" style="height: 100%;"> 
			<div class="box" style="height: 100%; overflow: auto;">
			
                <div data-ng-repeat="url in userData.urlslist | orderBy:'-date.$date'" style="padding: 0.5%;">
                		<!-- <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  -->  
                		<a aria-label="Open Url" href="{{url.url}}" target="_blank">
                			<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                		</a> 
                		<span class="roboto">[{{url.date.$date | date:'dd/MM/yyyy HH:mm'}}] </span> 
                		{{url.title | limitTo: 100}}
                </div>
                
            </div>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="eb-buttons row" style="padding-top: 1%;"></div>

</div>