<script>
$(document).ready(
		function()
			{
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
			}
);
</script>

<div class="eb-header">
			<h1 class="pagetitle">ReadMe.ink</h1>
		<div class="eb-nav">
			{{userData._id}} <a href="/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
		</div>
</div>

<div class="container" style="height: 83%;">
	<div class="row">
		<div class="col-md-1" style="text-align: right;">
			<i class="fa fa-user fa-3x"></i>
		</div>
		<div class="col-md-10 box">
			<form class="form-horizontal" data-ng-submit="updatePassword()">
  				<div class="form-group">
    				<label for="userEmail" class="col-sm-3 control-label">Email</label>
    				<div class="col-sm-7">
      					<p class="form-control-static" id="userEmail">{{userData._id}}</p>
    				</div>
  				</div>
  				<div class="form-group">
    				<label for="currentPassword" class="col-sm-3 control-label">Current Password</label>
    				<div class="col-sm-7">
      					<input type="password" class="form-control" id="currentPassword" data-ng-model="password.current" required>
    				</div>
  				</div>
  				<div class="form-group">
    				<label for="newPassword" class="col-sm-3 control-label">New</label>
    				<div class="col-sm-7">
      					<input type="password" class="form-control" id="newPassword" data-ng-model="password.newp" data-ng-blur="validatePassword()" required>
    				</div>
    				<div class="col-sm-2" style="margin-top: 0.5em;">
    					<span class="label label-danger" data-ng-hide="validPassword">
    						<a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="It must be at least 6 characters, with one upper and lowercase letter and one number" data-placement="right" style="color:rgb(223, 224, 192); cursor: pointer;">
    							Invalid password
    							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    						</a>
    					</span>
    				</div>
  				</div>
  				<div class="form-group">
    				<label for="confirmPassword" class="col-sm-3 control-label">Confirm</label>
    				<div class="col-sm-7">
      					<input type="password" class="form-control" id="confirmPassword" data-ng-model="password.confirm" data-ng-blur="validatePasswordMatch()" required>
    				</div>
    				<div class="col-sm-2" style="margin-top: 0.5em;">
    					<span class="label label-danger" data-ng-hide="passwordsMatch" style="color:rgb(223, 224, 192);">
    								Passwords not matching
    					</span>
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-offset-3 col-sm-7">
      					<button type="submit" class="btn btn-default" data-ng-disabled="!(passwordsMatch && validPassword)">Change</button>
      					<span  data-ng-click="resetStatus()">{{updateMessage}} <i  id="spinner" class="fa fa-circle-o-notch fa-spin"></i><i id="closeIcon" class="fa fa-times"></i></span>
    				</div>
  				</div>
			</form>
		<!-- 	
			<form class="form-horizontal" data-ng-submit="updateEreaderModel()">
				<div class="form-group">
					<label for="ereaderModel" class="col-sm-3 control-label">e-Reader Model</label>
    				<div class="col-sm-7">
      					<div class="input-group">
    						<input data-ng-model="eReaderModel" type="url" class="form-control" id="eReaderModel">
    						<span class="input-group-btn">
    							<button type="submit" class="btn btn-default">Save</button>
    						</span>
    					</div>
    				</div>
				</div>
			</form>
		 -->	
		</div>
	</div>
	 
	<div class="row">
		<div class="col-md-1" style="text-align: right;">
			<i class="fa fa-cogs fa-3x"></i>
		</div>
		<div class="col-md-11 box">
			<!--<form class="form-horizontal">
				<div class="form-group">
					<label for="parseMode" class="col-sm-3 control-label">Parse Mode</label>
    				<div class="col-sm-7">
      					<div class="radio" id="parseMode">
        					<label>
          						<input type="radio" name="parseMode" id="relaxedMode" value="relaxedMode" checked>
          						Relaxed
        					</label>
        					<label>
          						<input type="radio" name="parseMode" id="aggressiveMode" value="aggressiveMode">
          						Aggressive
        					</label>
      					</div>
    				</div>
  				</div>
			</form> -->
	      <form class="form-horizontal">
        <div class="form-group">
          <label for="bookmarklet" class="col-sm-3 control-label">Bookmarklet</label>
          <div class="col-sm-7">
            <a type="button" data-toggle="tooltip" data-placement="bottom" title="Do not actually click" data-ng-onclick="simpleAlert('Drag it to your bookmarks bar')" class="btn btn-default" href="javascript:(function(){var jsCode = document.createElement('script');jsCode.src='https://v1-readmedotink.rhcloud.com/js/send.js';document.body.appendChild(jsCode);}());">
              <i class="fa fa-bookmark"></i> ReadMe.ink
            </a>
            <span>Drag it to the bookmarks bar of your browser <i class="fa fa-question-circle"></i></span>
          </div>
        </div>
      </form>
		</div> 
</div>
	
	<div class="eb-buttons row" style="padding-top: 1%;"></div>
	
</div>